<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wscsoft.backend.common.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.wscsoft.backend.common.model.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="account" column="userAccount" jdbcType="VARCHAR"/>
        <result property="password" column="userPassword" jdbcType="VARCHAR"/>
        <result property="avatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="openId" column="mpOpenId" jdbcType="CHAR"/>
        <result property="phone" column="phone" jdbcType="CHAR"/>
        <result property="name" column="userName" jdbcType="VARCHAR"/>
        <result property="email" column="userEmail" jdbcType="VARCHAR"/>
        <result property="role" column="userRole" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        account,
        password,
        openId,
        name,
        email,
        role,
        updateTime,
        createTime,
        avatar,
        phone,
        isDelete,
    </sql>
</mapper>
